<div>
  <div class="header">
    <p class="date">{{momentDateFormat currentDate "DD MMM YYYY"}}</p>
  </div>

  <p class="address">
    {{recipient.firstName}}
    {{recipient.initials}}
    {{recipient.lastName}}
    <br />
    {{recipient.address}}
    <br />
    {{recipient.city}},
    {{recipient.province}}
    <br />
    {{recipient.country}},
    {{recipient.postalCode}}
  </p>

  <p class="saluation">
    Dear
    {{recipient.firstName}}:
  </p>

  <p>
    I am pleased to inform you that your Yukon Grant application to attend full-time
    post-secondary has been approved as follows:
  </p>

  <p>
    <span class="flex justify-between">
      <strong>Program: {{program.name}}</strong>
      <span>
        <strong>Start Date:</strong>
        <span class="ml-4">{{momentDateFormat program.startDate "MMM Do, YYYY"}}</span>
      </span>
    </span>
    <span class="flex justify-between">
      <strong>Institution: {{program.institutionName}}</strong>
      <span>
        <strong>End Date:</strong>
        <span class="ml-4">{{momentDateFormat program.endDate "MMM Do, YYYY"}}</span>
      </span>
    </span>
    <span class="flex mt-1"></span>
    <span>
      <strong style="display: inline-block; width: 150px">Rate per Week:</strong>
      <span >{{centsToDollarString program.ratePerWeekInCents}}</span>
    </span>
    <br />
    <span>
      <strong style="display: inline-block; width: 150px">Approv. Weeks:</strong>
      <span >{{program.approvalWeeks}}</span>
    </span>
    <br />
    <span>
      <strong style="display: inline-block; width: 150px">Travel/Airfare:</strong>
      <span>{{centsToDollarString program.travelAndAirFairCostInCents}}</span>
    </span>
  </p>

  <table class="">
    <thead>
      <tr>
        <th>Disbursements<span class="ml-4"></span></th>
        <th>Issue Date - Based on confirmed enrollment before each semester</th>
      </tr>
    </thead>
    <tbody>
      {{#each disbursements}}
      <tr>
        <td>{{centsToDollarString this.amountInCents}}</td>
        <td>{{momentDateFormatDefault this.releaseDate "MMM YYYY" "Upon confirmation"}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p>
    If any of the above information is incorrect or you withdraw from full-time
    studies or drop to part-time status, you may have to repay some or all of your Yukon Grant.
  </p>

  <p>
    Your first disbursement has been processed.
    <strong>If more than one
      payment is listed above, you will be required to submit a Program Information Form (PIF)
      confirming full-time status prior to the release of any subsequent disbursements.
    </strong>
    Our office will accept PIFs completed by the institution and submitted directly to
    <a href="mailto:sfa@yukon.ca">sfa@yukon.ca</a>
    as early as one month before the issue date(s) outlined above. You can download the PIF at
    <a
      href="http://yukon.ca/en/program-information-student-financial-assistance">http://yukon.ca/en/program-information-student-financial-assistance</a>.
  </p>

  <p>
    If you have any questions regarding your assessment, please contact our office by
    email at <a href="mailto:sfa@yukon.ca">sfa@yukon.ca</a>, by telephone at <a
      href="tel:867-667-5929">867-667-5929</a>,
    or toll free within Yukon at
    <a href="tel:1-800-661-0408">1-800-661-0408</a> ext. 5929.
  </p>

  <p>
    Congratulations on your decision to further your education. On behalf of the
    Department of Education, I wish you the very best in your studies.
  </p>

  <p>
    Sincerely,
  </p>
  <p class="mt-10">
    {{studentFinancialAssistanceOfficer.name}}
    <br>
    {{studentFinancialAssistanceOfficer.position}}
    <br />
    Department of Education, Government of Yukon
  </p>
</div>
