<div>
  <div class="header">
    <p class="date">{{momentDateFormat currentDate "DD MMM YYYY"}}</p>
  </div>

  <p class="address">
    {{recipient.firstName}}
    {{recipient.initials}}
    {{recipient.lastName}}
    <br />
    {{recipient.address1}}
    {{#if recipient.address2}}
      <br />
      {{recipient.address2}}
    {{/if}}
    <br />
    {{recipient.city}},
    {{recipient.province}}
    <br />
    {{recipient.country}},
    {{recipient.postalCode}}
  </p>

  <p class="saluation">
    Dear
    {{recipient.firstName}}:
  </p>

  <p>
    I am writing to you regarding your application for Yukon Grant funding. We regret to inform you
    that we cannot approve your application for the following reason(s):
  </p>

  <p>
    {{!
      TODO: investigate possibility of multiple rejection reasons
      Acording to the database a funding request can only have a single status reason
      but the wording of this letter suggests that multiple reasons are possible.
     }}
    {{rejectionReason}}
  </p>

  <p>
    More information regarding the Student Financial Assistance Act is available at
    <a href="https://laws.yukon.ca/cms/images/LEGISLATION/PRINCIPAL/2016/2016-0009/2016-0009_1.pdf">
      STUDENT FINANCIAL ASSISTANCE ACT, 2016, SY 2016, c. 9
    </a>
  </p>

  <p>
    {{#with directorOfTrainingPrograms}}

      If you have any questions regarding the above decision or need information on the appeal
      process, please contact
      {{firstName}}
      {{lastName}},
      {{position}}
      at
      <a href="mailto:{{email}}">{{email}}</a>
      or by telephone at
      <a href="tel:{{phone}}">{{phone}}</a>.
    {{/with}}
    If you would like additional information about Yukon Grant legislation and eligibility
    requirements, please visit
    {{!
        TODO: Check if this link is out of date
        I get redirected to https://yukon.ca/en/education-and-schools-student-financial-support when visiting it
    }}
    <a href="http://www.yukonstudentaid.com">www.yukonstudentaid.com</a>.
  </p>

  <p>
    Sincerely,
  </p>
  <p class="mt-10">
    {{studentFinancialAssistanceOfficer.firstName}}
    {{studentFinancialAssistanceOfficer.lastName}}
    <br />
    {{#if studentFinancialAssistanceOfficer.position}}
      {{studentFinancialAssistanceOfficer.position}}
    {{else}}
      Student Financial Services Officer
    {{/if}}
    <br />
    Department of Education, Government of Yukon
  </p>
</div>
